a(href="{% url 'student-detail' pk=student.id %}")
    | {{ student.name }}
    - for name in student.ordered_facts.name
        |  ({{ name.field_value }})

| &nbsp;
a.student-window
    span.glyphicon.glyphicon-new-window &nbsp;

- if not grade
    a(href="{% url 'student-list' grade_id=student.main_grade.pk %}")
        span.value-badge {{ student.main_grade }}

- for name, modifications in student.ordered_facts.items
  - for modif in modifications
    - if modif.status in 'trusted untrusted'

      - if modif.field_name == 'email'
        span.student-email.value-badge(class="value-{{ modif.status }}") @

      - elif modif.field_name == 'city'
        a(href="{% url 'search-list' %}?query={{ modif.field_value }}",
            data-toggle="tooltip", data-placement="top", title="Город")
          span.value-badge(class="value-{{ modif.status }}") {{ modif.field_value }}

      - elif modif.field_name == 'company'
        a(href="{% url 'search-list' %}?query={{ modif.field_value }}",
            data-toggle="tooltip", data-placement="top", title="Компания/ВУЗ")
          span.value-badge(class="value-{{ modif.status }}") {{ modif.field_value }}

      - elif name == 'link'
        a(href="{{ modif.field_value }}")
          span.value-badge(class="value-{{ modif.status }}")
            | {{ modif.field_value }}

      - elif name == 'social_fb'
        a(href="{{ modif.field_value }}",
            data-toggle="tooltip", data-placement="top", title="facebook")
          span.value-badge(class="value-{{ modif.status }}") fb

      - elif name == 'social_vk'
        a(href="{{ modif.field_value }}",
            data-toggle="tooltip", data-placement="top", title="ВКонтакте")
          span.value-badge(class="value-{{ modif.status }}") vk
