extends 'core/student_list.jade'
- load bootstrap3


block content
    mixin vote_btn(href, type, is_active)
      if type == 'up'
        if is_active
          - var content = 'Отменить свой голос за этот факт'
        else
          - var content = 'Верно'
      if type == 'down'
        if is_active
          - var content = 'Отменить свой голос против этого факта'
        else
          - var content = 'Неверно'
      if type == 'delete'
        if is_active
          - var content = 'Отменить свой голос за удаление этого факта'
        else
          - var content = 'Удалить'
      if is_active
        - var href = href + '?remove=yes,please'
      | &nbsp;
      a.btn.btn-default.btn-vote(
          data-href=href
          rel="popover"
          data-container="body"
          data-trigger="hover"
          data-placement="bottom"
          data-content=content
          class='active' if is_active else ''
      )
        if type == 'up'
          - var cls = 'glyphicon-thumbs-up'
        elif type == 'down'
          - var cls = 'glyphicon-thumbs-down'
        elif type == 'delete'
          - var cls = 'glyphicon-ban-circle'
        span.glyphicon(class=cls)

    block breadcrumb
      ol.breadcrumb
        li
          a(href="{% url 'feed' %}") Все правки

        - if request.GET.year
          li {{ request.GET.year }}

        - elif request.GET.student_id
          - if student.main_grade
            li
              a(href="{% url 'feed' %}?year={{ student.main_grade.graduation_year }}")
                | {{ student.main_grade.graduation_year }}
            li
              a(href='{% url "feed" %}?grade={{ student.main_grade }}')
                | {{ student.main_grade.letter }}
          - else
            li Выпускник
          li {{ student.name }}

        - elif request.GET.author_id
          li Автор правок
          li {{ author }}

        - elif request.GET.grade
          - if year
            li
              a(href="{% url 'feed' %}?year={{ year }}") {{ year }}
            li {{ letter }}
          - else
            li {{ grade }}

    #feed.feed-list
      table.table.table-hover
        thead
          tr
            th Дата
            th Выпускник
            th Тип
            th Значение
            th Статус
            th Имя
            th За
            th Против
            th Проголосовать
        tbody
          - for i in object_list
            tr
              td {{ i.status_update_date|date:"d.m.Y H:i" }}

              td
                a(href='{% url "feed" %}?student_id={{ i.target_id }}')
                  | {{ i.target.name }}
                = ' '
                a(href='{% url "feed" %}?grade={{ i.target.main_grade }}')
                  | {{ i.target.main_grade }}

              td {{ i.get_field_name_display }}

              td
                - if i.field_name == 'email'
                    -
                - else
                    {{ i.field_value }}

              td {{ i.get_status_display }}

              td
                - if i.author_code.owner
                  a(href='{% url "feed" %}?author_id={{ i.author_code.owner_id }}')
                    | {{ i.author_code.owner }}
                - else
                  = ' '

              td
                - for j in i.votes_up
                  - if j is None
                    | Аноним
                  - else
                    a(href='{% url "feed" %}?author_id={{ j.pk }}')
                      | {{ j }}
                  br

              td
                - for j in i.votes_down
                  - if j is None
                    | Аноним
                  - else
                    a(href='{% url "feed" %}?author_id={{ j.pk }}')
                      | {{ j }}
                  br

              td
                - with modification=i
                  if not modification.is_owned
                    - url 'field-vote' pk=modification.pk vote_type='upvoted' as href
                    +vote_btn(href, 'up', modification.upvoted)

                    - url 'field-vote' pk=modification.pk vote_type='downvoted' as href
                    +vote_btn(href, 'down', modification.downvoted)

                  if modification.is_owned
                    - url 'field-vote' pk=modification.pk vote_type='to_delete' as href
                    +vote_btn(href, 'delete', modification.deleted)

            - empty
              tr
                td Пусто.

    - if page_obj
        - bootstrap_pagination page_obj url=request.get_full_path

    .students-bottom
