extends 'core/base.html'

block breadcrumb
    ol.breadcrumb
        li
            a(href='/') Выпускники
        li
            a(href="{% url 'student-list' %}?year={{ grade.graduation_year }}")
                | {{ grade.graduation_year }}
        li
            a(href="{% url 'student-list' %}?grade_id={{ grade.pk }}")
                | {{ grade.letter }}
        li.active {{ object.name }}

block scripts
  style.
    .modal-footer .btn-cls {display: none;}
  include core/include_vote

block content
  mixin vote_btn(href, type, is_active)
    if type == 'up'
      if is_active
        - var content = 'Отменить свой голос за этот факт'
      else
        - var content = 'Проголосовать за этот факт'
    if type == 'down'
      if is_active
        - var content = 'Отменить свой голос против этого факта'
      else
        - var content = 'Проголосовать против этого факта'
    if type == 'delete'
      if is_active
        - var content = 'Отменить свой голосо за удаление этого факта'
      else
        - var content = 'Проголосовать за удаление этого факта'
    if is_active
      - var href = href + '?remove=yes,please'
    | &nbsp;
    a.btn.btn-default.btn-vote(
        data-href=href
        rel="popover"
        data-container="body"
        data-trigger="hover"
        data-placement="bottom"
        data-content=content
        class='active' if is_active else ''
    )
      if type == 'up'
        - var cls = 'glyphicon-thumbs-up'
      elif type == 'down'
        - var cls = 'glyphicon-thumbs-down'
      elif type == 'delete'
        - var cls = 'glyphicon-ban-circle'
      span.glyphicon(class=cls)

  .modal-body
    button.close(type='button', data-dismiss='modal', aria-label='Close')
      span(aria-hidden='true') ×

    ul.nav.nav-tabs#tabs-student(role='tablist')
      li.active(role='presentation')
        a(href='#tab-student', aria-controls='tab-student', role='tab', data-toggle='tab') {{ object.name }}
      li(role='presentation')
        a#send-email(href='#tab-send', aria-controls='tab-send', role='tab', data-toggle='tab') Написать
      li(role='presentation')
        a(href='#tab-fb', aria-controls='tab-fb', role='tab', data-toggle='tab') Facebook
      li(role='presentation')
        a(href='#tab-vk', aria-controls='tab-vk', role='tab', data-toggle='tab') ВКонтакте
      li(role='presentation')
        a#add-field(href='#tab-add', aria-controls='tab-add', role='tab', data-toggle='tab') Добавить

    style.
        .field-trusted {}
        .field-untrusted {color: #aaa;}
        .field-hidden {color: #bbb; display: none;}
        .btn-vote {cursor: pointer; margin-left: 1em;}
        .show-hidden {display: none; cursor: pointer;}
        .field-hidden ~ .show-hidden {display: block;}
        .vote-panel {font-size: 120%;}

    .tab-content
      #tab-student.tab-pane.active(role='tabpanel')
        br
        - if grouped_modifications.items
          - for field, modifications in grouped_modifications.items
            p {{ modifications.0.get_field_name_display }}

            ul
              - for modification in modifications
                li(data-id="{{ modification.id }}"
                  class="{% if modification.status == 'trusted' %}field-trusted{% else %}
                      {% if modification.status == 'untrusted' %}field-untrusted{% else %}field-hidden{% endif %}
                  {% endif %}")
                  - if modification.field_name == 'social_vk'
                      a(href="{{ modification.field_value }}")
                          | {{ modification.field_value }}
                  - elif modification.field_name == 'social_fb'
                      a(href="{{ modification.field_value }}")
                          | {{ modification.field_value }}
                  - elif modification.field_name == 'link'
                      a(href="{{ modification.field_value }}")
                          | {{ modification.field_value }}
                  - elif modification.field_name == 'email'
                      a E-mail скрыт
                  - else
                      {{ modification.field_value }}
                  - if modification.field_name != 'email'
                    span.vote-panel
                      if not modification.is_owned
                        - url 'field-vote' pk=modification.pk vote_type='upvoted' as href
                        +vote_btn(href, 'up', modification.upvoted)

                        - url 'field-vote' pk=modification.pk vote_type='downvoted' as href
                        +vote_btn(href, 'down', modification.downvoted)

                      if modification.is_owned
                        - url 'field-vote' pk=modification.pk vote_type='to_delete' as href
                        +vote_btn(href, 'delete', modification.deleted)
              li.show-hidden
                a ...
        - else
          | Пока нет данных о профиле

      #tab-send.tab-pane(role='tabpanel')
        br
        - if 'email' in grouped_modifications
          - with field_email=grouped_modifications.email.0
            include core/sendmail_form
        - else
          p Пока нет адреса email
          p
            a.add-field(href="#", data-feild-type='email') Добавить
      #tab-fb.tab-pane(role='tabpanel')
        br
        - if 'social_fb' in grouped_modifications
          - for modif in grouped_modifications.social_fb
            p
              a(href="{{ modif.field_value }}")
                | {{ modif.field_value }}
        - else
          p Пока нет данных о социальной сети
        p
          a.add-field(href="#", data-feild-type='social_fb') Добавить
      #tab-vk.tab-pane(role='tabpanel')
        br
        - if 'social_vk' in grouped_modifications
          - for modif in grouped_modifications.social_vk
            p
              a(href="{{ modif.field_value }}")
                | {{ modif.field_value }}
        - else
          p Пока нет данных о социальной сети
        p
          a.add-field(href="#", data-feild-type='social_vk') Добавить
      #tab-add.tab-pane(role='tabpanel')
        br
        include core/fieldvalue_form

  .modal-footer
    .pull-left
      | Добавьте новую информацию или проголосуйте за или против имеющейся
    button.btn.btn-cls.btn-primary(type='button', data-dismiss='modal') Закрыть
