extends 'core/base.html'

block nav
    li
        a(href="/") Список классов
    li
        a(href="{% url 'student-list' grade_id=grade.pk %}")
            | Класс "{{ grade.letter }}" выпуск {{ grade.graduation_year }} года
    li.active
        a {{ object.name }}

block scripts
  style.
    .modal-body .close {display: none;}
    .modal-footer .btn-cls {display: none;}

block content
  .modal-body
    button.close(type='button', data-dismiss='modal', aria-label='Close')
      span(aria-hidden='true') ×

    ul.nav.nav-tabs
      li.active(role='presentation')
        a {{ object.name }}
      li(role='presentation')
        a(href='#') Город
      li(role='presentation')
        a(href='#') Написать
      li(role='presentation')
        a(href='#') Facebook
      li(role='presentation')
        a(href='#') ВКонтакте

    .container
      style.
        .field-trusted {}
        .field-untrusted {color: #aaa;}
        .field-hidden {color: #eee;}

      - for field, modifications in grouped_modifications
        p {{ modifications.0.get_field_name_display }}

        ul
          - for modification in modifications
            li(class="
                {% if modification.status == 'trusted' %}field-trusted{% else %}
                    {% if modification.status == 'untrusted' %}field-untrusted{% else %}field-hidden{% endif %}
                {% endif %}")
                - if modification.field_name == 'social_vk'
                    a(href="{{ modification.field_value }}")
                        | {{ modification.field_value }}
                - elif modification.field_name == 'social_fb'
                    a(href="{{ modification.field_value }}")
                        | {{ modification.field_value }}
                - elif modification.field_name == 'link'
                    a(href="{{ modification.field_value }}")
                        | {{ modification.field_value }}
                - elif modification.field_name == 'email'
                    a(href="{% url 'field-sendmail' pk=modification.pk %}")
                        | Отправить сообщение
                - else
                    {{ modification.field_value }}
                - if modification.field_name != 'email'
                    | &nbsp
                    a(href="{% url 'field-vote' pk=modification.pk vote_type='upvoted' %}")
                        span.glyphicon.glyphicon-ok-circle
                    | &nbsp
                    a(href="{% url 'field-vote' pk=modification.pk vote_type='downvoted' %}")
                        span.glyphicon.glyphicon-remove-circle
                    | &nbsp
                    a(href="{% url 'field-vote' pk=modification.pk vote_type='to_delete' %}")
                        span.glyphicon.glyphicon-ban-circle

  .modal-footer
    button.btn.btn-default(
      type='button',
      data-href="{% url 'student-value-create' pk=object.pk %}") Добавить факт
    button.btn.btn-cls.btn-primary(type='button', data-dismiss='modal') Закрыть
